// Navigation Styles here

header {
  width: 100%;
  padding: 25px 30px;

  div {
    max-width: 880px;
    width: 53%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    nav {
      display: flex;
      justify-content: space-between;
      width: 50%;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
